body
{
	color: #FFFFFF;
	background-color: #001500;	
}

#container
{
	position:absolute;
	top:10%;
	left:20%;
	width:60%;
	height: 80%;
	background-color: #000015;
}

#headsUpDisplay
{
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	height:30%;
	background-color: #444444;
	color: #000015;
}

#Status
{
	position: absolute;
	top: 0px;
	width:100%;
	height: auto;
}

#items
{
	position: absolute;
	bottom: 0px;
	width: 32%;
	min-height: 66px;
	float: left;
}

#commandIn
{
	position:absolute;
	top: 85%;
	left: 10%;
	width: 80%;
	height:	15%;
	color: #444444;
}

#commandIn #commandTextField
{
	background-color: #444444;
	width: 94%;
	
}

#outputArea
{
	position:absolute;
	top: 40%;
	left: 10%;
	width:80%;
	height: 45%;
	color: #000000;
	background-color: #555555;
	overflow-y:auto;
}

#logout
{
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 5px;
	padding-right: 5px;
	background-color: #444444;
}

#logout a:link
{
	color: #000000;
}

#logout a:visited
{
	color: #000000;
}

#logout a:hover
{
	color: #606030;
}

#logout a:active
{
	color: #000000;
}

.item 
{
	float:left;
	height: 33px;
	width: 43px;
	background-color: #FF00FF;
}